body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 0;
  padding: 0;
  background-color: black;
}

#container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

#container2 {
  position: fixed;
  /* top: 0; */
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: inline;
}

#loader-circular {
  border: 5px solid #ffffff; /* Light grey */
  border-top: 5px solid #3d3d3d; /* Grey */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progress-bar-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

/* #progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
  left: 50%;
} */

label {
  color: white;
  font-size: 0.5rem;
  left: 50%;
}